.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.logo {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.logo-img {
  width: 120px;
  align-items: center;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.manu-list {
  display: flex;
  list-style-type: none;
}

.manu-list li {
  padding: 10px;
}

.menu-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info {
  display: inline-block;
}

.product-img {
  width: 100%;
}

.card:hover {
  width: 105%;
}

.product-detail-img {
  display: flex;
  justify-content: flex-end;
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
